@model RpgMvc.Models.PersonagemViewModel
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@{
    ViewBag.Title = "Detalhes do Personagem";
}
<h2>Detalhes do Personagem</h2>
<div>
    <hr />
    <d1 class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dt>@Html.DisplayFor(model => model.Id)</dt>
        
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dt>@Html.DisplayFor(model => model.Nome)</dt>
    </d1>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id})
    @Html.ActionLink("Retornar", "Index")
</p>